<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=coderfoundry.cloudapp.net, 55555;
                           Initial Catalog=erwabuhihi-budgeter;
                           User Id=erwabuhihi;
                           Password=Coder2018!;
                            Integrated Security=False"
    providerName="System.Data.SqlClient" />
</connectionStrings>
