<?xml version="1.0"?>
<appSettings>
  <add key="EmailHost" value="smtp.gmail.com" />
  <add key="username" value="rwaberic@gmail.com" />
  <add key="EmailSender" value="rwaberic@gmail.com" />
  <add key="EmailSenderPassword" value="qmgzersocwmjmafn" />
  <add key="port" value="587" />
</appSettings>
